<footer class="footer">
    <div class="container">
        <ul class="footer__blocks">
            <li class="footer__block">
                <div class="footer__logo logo">
                    <div class="logo__img"
                         style="background-image: url('images/logo-white.svg')">
                    </div>
                    <div class="logo__text">
                        CONQUEST
                    </div>
                    <a href="#" class="logo__href">
                        <span class="sr-only">
                            Открыть главную страницу
                        </span>
                    </a>
                </div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="tel:84994504797" class="footer__href">
                            8 (499) 450-47-97
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="mailto:info@conquest.watch.ru" class="footer__href">
                            info@conquest.watch.ru
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer__block">
                <h3 class="footer__title">
                    о компании
                </h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Наши магазины
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Вакансии
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Сертификаты
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Отзывы
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer__block">
                <h3 class="footer__title">
                    покупателям
                </h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Каталог товаров
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Как заказать?
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            FAQ
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Корпоративным клиентам
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer__block">
                <h3 class="footer__title">
                    оплата и доставка
                </h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Способы оплаты
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Время доставки
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Гарантии и ремонт
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__href">
                            Возврат и компенсация
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</footer>
