<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo logo">
                <div class="logo__img"
                     style="background-image: url('images/logo.svg')"></div>
                <div class="logo__text">CONQUEST</div>
                <a href="#" class="logo__href">
                        <span class="sr-only">
                            Открыть главную страницу
                        </span>
                </a>
            </div>
            <div class="header__inner">
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="#" class="navigation__href">
                                Каталог
                            </a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__href">
                                Акции
                            </a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__href">
                                Доставка
                            </a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__href">
                                Контакты
                            </a>
                        </li>
                    </ul>
                    <button class="navigation__mobile-menu">
                    <span class="sr-only">
                        Открыть мобильное меню
                    </span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </nav>
                <ul class="header__actions">
                    <li class="header__action"
                        style="background-image: url('images/search-icon.svg')">

                        <button class=" header__search" type="button">
                        <span class="sr-only">
                        Открыть поиск
                    </span>
                        </button>
                    </li>
                    <li class="header__action"
                        style="background-image: url('images/favourites-icon.svg')">
                        <button class=" header__favourites" type="button">
                    <span class="sr-only">
                        Открыть избранное
                    </span>
                            <span class="header__value">
                        1
                    </span>
                        </button>
                    </li>
                    <li class="header__action"
                        style="background-image: url('images/shop-icon.svg')">

                        <button class=" header__shop" type="button">
                    <span class="sr-only">
                        Открыть корзину с товарами
                    </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>