.footer {
  background-color: $gray;
  color: $white;
  padding-top: 80px;
  padding-bottom: 70px;

  &__blocks {
    display: flex;
    justify-content: space-between;
    @include adpt($stab-r) {
      flex-wrap: wrap;
    }
    @include adpt($bmob-r) {
      flex-direction: column;
    }
  }

  &__block {
    @include adpt($stab-r) {
      margin-bottom: 48px;
    }
  }

  &__title {
    font-weight: 700;
    letter-spacing: 0.07em;
    margin-bottom: 33px;
    text-transform: uppercase;
  }

  &__item {
    color: $white-opacity;
    transition: 0.2s color, transform 0.5s;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:hover {
      color: $light-brown;
      transform: translateY(-2px) scale(1.05);
    }

    @include adpt($bmob-r) {
      font-size: 18px;
    }
  }

  &__logo {
    margin-bottom: 32px;

    .logo__text {
      font-size: 14px;
    }
  }

  @include adpt($stab-r) {
    padding-top: 48px;
    padding-bottom: 12px;
  }
}